*{
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spacer {
    flex: 0 1 auto;
    width: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_image {
    width: 40px;
    height: 40px; 
    margin-right: 10px;
}

.logo_text {
    font-family: "Inter", sans-serif;
    color: #f5c451;
    font-weight: bold;
    font-size: 24px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.catalog_button,
.login_button {
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #7D7D7D;
    border-radius: 8px;
    padding: 8px 16px;
    color: #7D7D7D;
    transition: background-color 0.3s, color 0.3s;
}

.catalog_button:hover,
.login_button:hover {
    background-color: #7D7D7D;
    color: white;
}
