<div class="movie-catalog">
    <h2>Movies</h2>
    <div class="search-bar">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconField>
      <p-dropdown 
        [options]="criterias" 
        [(ngModel)]="searchCriteria" 
        optionLabel="name" 
        placeholder="Select criteria" />
      <p-button label="Search" [outlined]="true" severity="success" (click)="loadMovies()" />
    </div>
    <div class="movie-cards">
      <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
    </div>
</div>