<div class="movie-catalog">
  <h2>Movies</h2>
  <div class="search-bar">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" />
    </p-iconField>
    <p-dropdown [options]="criterias" [(ngModel)]="searchCriteria" optionLabel="name" placeholder="Select criteria" (onChange)="onSelectionChange($event)" />

    
    <p-button class="add-movie" [outlined]="true" label="Clear filters" severity="warning" (click)="loadMovies()" />
    <p-button label="Search" [outlined]="true" severity="success" (click)="search()" />
    @if(role == "Admin"){
    <p-button class="add-movie" label="Add movie" severity="warning" (click)="addMovie()" />
    }
  </div>
  <div class="movie-cards">
    <app-movie-card *ngFor="let movie of movies" [role]="role" [movie]="movie"></app-movie-card>
  </div>
</div>

<p-dialog header="Input search parameters" [modal]="true" [(visible)]="visibleSearchDialog" [style]="{ width: '30rem' }">
  <div class="dialog-row">
    <label for="title">Title</label>
    <input pInputText id="mstitle" class="flex-auto" autocomplete="off" [(ngModel)]="mstitle" />
  </div>
  <div class="dialog-row">
    <label for="genre">Genre</label>
    <p-dropdown class="input-field" [style]="{ width: '100%' }" [options]="genres" [(ngModel)]="msgenre"
      optionLabel="name"></p-dropdown>
  </div>
  <div class="dialog-row">
    <label for="description">Description</label>
    <input pInputText id="msdescription" class="flex-auto" autocomplete="off" [(ngModel)]="msdescription"/>
  </div>
  <div class="dialog-row">
    <label for="actors">Actors</label>
    <div class="input-field" type="text" [style]="{width:'15rem'}">
      <p-chips  [(ngModel)]="msActors" />
    </div>
  </div>
  <div class="dialog-row">
    <label for="directors">Directors</label>
    <div class="input-field" type="text" [style]="{width:'15rem'}">
      <p-chips  [(ngModel)]="msDirectors" />
    </div>
  </div>
  <div class="dialog-row dialog-buttons">
    <p-button label="Cancel" [outlined]="true" severity="secondary" (click)="visibleSearchDialog = false" />
    <p-button label="Search"  [outlined]="true" severity="success"  (click)="multiParameterSearch()"/>
  </div>
</p-dialog>
