<div class="movie-details-card" *ngIf="movie">
  <div class="movie-header">
    <img src="{{ movie.thumbnail }}" alt="Movie Poster" class="movie-poster" />
    <div class="movie-header-info">
      <h2>{{ movie.name }}</h2>
      <p>{{ movie.year }} | Rating: {{ movie.rating }}</p>
    </div>
    <div class="controls">
      <p-dropdown
        class="res-selector"
        [style]="{ width: '100%' }"
        [options]="resolutions"
        [(ngModel)]="selectedResolution"
        optionLabel="name"
      ></p-dropdown>
      <p-button
        label="Play"
        [outlined]="true"
        severity="success"
        [raised]="true"
        class="fa fa-play"
        iconPos="right"
        (onClick)="play()"
      />
    </div>
  </div>
  <div class="movie-body">
    <div class="item-sub-pair">
      <p><strong>Directors:</strong></p>
      <ul>
        <li *ngFor="let director of movie.directors">
          {{ director }}
          @if (role != "Admin") {
            <button
              pButton
              type="button"
              icon="pi pi-bell"
              class="p-button-sub"
              (click)="subscribe('director', director)"
            ></button>
          }
        </li>
      </ul>
    </div>
    <div class="item-sub-pair">
      <p><strong>Description:</strong> {{ movie.description }}</p>
    </div>
    <div class="item-sub-pair">
      <p><strong>Genre:</strong> {{ movie.genre }}</p>
      @if (role != "Admin") {
        <button
          pButton
          type="button"
          icon="pi pi-bell"
          class="p-button-sub"
          (click)="subscribe('genre', movie.genre)"
        ></button>
      }
    </div>
    <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
    <p>
      <strong>File Size:</strong> {{ (movie.fileSize / 1000000).toFixed(2) }} MB
    </p>
    <p><strong>Actors:</strong></p>
    <ul>
      <li *ngFor="let actor of movie.actors">
        {{ actor }}
        @if (role != "Admin") {
          <button
            pButton
            type="button"
            icon="pi pi-bell"
            class="p-button-sub"
            (click)="subscribe('actor', actor)"
          ></button>
        }
      </li>
    </ul>
    <p-dialog
      header="Rate {{ movie.name }}"
      [(visible)]="movieRatingVisible"
      [modal]="true"
      [style]="{ width: '20vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="review-modal">
        <div class="review-modal-rating">
          <div class="review-modal-rating-star">
            <span>Your rating: </span>
            <p-rating
              [(ngModel)]="movie_rating_value"
              [cancel]="false"
            ></p-rating>
          </div>
          <button
            pButton
            type="button"
            label="Submit"
            class="p-button-primary"
            (click)="addMovieRate(movie.id)"
          ></button>
        </div>
      </div>
    </p-dialog>
  </div>
  <div class="movie-footer">
    <p-button
      type="button"
      label="Download"
      class="p-button-secondary"
      [outlined]="true"
      (onClick)="download()"
    ></p-button>
    @if (role == "User") {
      <p-button
        type="button"
        class="p-button-secondary"
        [outlined]="true"
        (onClick)="showRateDialog()"
        >{{ rate_button_label }}</p-button
      >
    }
    <p-button
      label="Edit"
      [outlined]="true"
      severity="secondary"
      [raised]="true"
      class="fa fa-play"
      iconPos="right"
      (onClick)="edit()"
    />
    <p-button
      label="Delete"
      [outlined]="true"
      severity="warning"
      [raised]="true"
      class="fa fa-play"
      iconPos="right"
      (onClick)="delete()"
    />
  </div>
</div>

@if (movie) {
  <p-dialog
    header="{{ movie.name }}"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '70vw' }"
    [draggable]="false"
    [resizable]="true"
  >
    <div *ngIf="videoUrl">
      <div class="video-player-modal">
        <video controls autoplay>
          <source [src]="videoUrl" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </p-dialog>
}
