* {
    font-family: Nunito, sans-serif;
}


.movie-details-card {
    max-width: 40%;
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 15vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #2a2a2a;
}

.movie-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.movie-poster {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.movie-header-info {
    flex: 1;
}

.movie-body {
    margin-bottom: 20px;
}

.item-sub-pair{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.movie-footer {
    text-align: center;
    gap: 20px
}

.movie-header p-button{
    width: 10vw;
}

.video-player-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.review-modal {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  height: 100%; /* Ensure the flex container takes the full height of the dialog */
}

.review-modal-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.review-modal-rating-star {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 10px;
}

.dialog-header{
  text-align: center;
  width: 20vw
}

.p-button-secondary{
  margin: 10px
}

.p-button-sub{
  font-size: 20px;
  padding: 0;
  margin-left: 10px;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  color: #adadea;
  background-color: transparent;
  border-color: transparent;
}
