<div class="movie-details-card" *ngIf="movie">
    <div class="movie-header">
        <img src="{{movie.thumbnail}}" alt="Movie Poster" class="movie-poster">
        <div class="movie-header-info">
        <h2>{{ movie.name }}</h2>
        <p>{{ movie.year }} | Rating: {{ movie.rating }}</p>
        </div>
        <p-button label="Play" [outlined]="true" severity="success" [raised]="true" class="fa fa-play" iconPos="right" (onClick)="play()"/>

    </div>
    <div class="movie-body">
        <div class="item-sub-pair">
          <p><strong>Director:</strong> {{ movie.director }}</p>
          <button pButton type="button" icon="pi pi-bell" class="p-button-sub" (click)="subscribe('director', movie.director)"></button>
        </div>
        <div class="item-sub-pair">
          <p><strong>Genre:</strong> {{ movie.genre }}</p>
          <button pButton type="button" icon="pi pi-bell" class="p-button-sub" (click)="subscribe('genre', movie.genre)"></button>
        </div>
        <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
        <p><strong>File Size:</strong> {{ (movie.fileSize/1000000).toFixed(2)}} MB</p>
        <p><strong>Actors:</strong></p>
        <ul>
            <li *ngFor="let actor of movie.actors">{{ actor }}
              <button pButton type="button" icon="pi pi-bell" class="p-button-sub" (click)="subscribe('actor', actor)"></button>
            </li>
        </ul>
        <p-dialog header="Rate {{movie.name}}" [(visible)]="movieRatingVisible" [modal]="true" [style]="{ width: '20vw' }" [draggable]="false" [resizable]="false">
          <div class="review-modal">
            <div class="review-modal-rating">
              <div class="review-modal-rating-star">
                <span>Your rating: </span>
                <p-rating  [(ngModel)]="movie_rating_value" [cancel]="false"></p-rating>
              </div>
              <button pButton type="button" label="Submit" class="p-button-primary" (click)="addMovieRate(movie.id)"></button>
            </div>
          </div>
        </p-dialog>
    </div>
    <div class="movie-footer">
        <p-button type="button" label="Download" class="p-button-secondary" [outlined]="true"
      (onClick)="download()"></p-button>
      <p-button type="button" label="Rate Movie" class="p-button-secondary" [outlined]="true"
                (onClick)="showRateDialog()"></p-button>
    </div>
</div>
