<div class="login-container">
  <div class="login-logo">
    <img src="assets/img/movie-icon.png" width="180px" alt="logo" />
    <span class="logo-text">Movflix</span>
  </div>
  <div class="login-forms">
    <span class="login-text"> Sign Up </span>
    <div class="fields">
      <input
        class="email_field"
        type="text"
        pInputText
        placeholder="First Name"
        [(ngModel)]="firstName"
      />
      <input
        class="email_field"
        type="email"
        pInputText
        placeholder="Last Name"
        [(ngModel)]="lastName"
      />
      <input
        class="email_field"
        type="email"
        pInputText
        placeholder="Email"
        [(ngModel)]="email"
      />
      <input
        class="email_field"
        type="text"
        pInputText
        placeholder="Birth Date(YYYY-MM-DD)"
        [(ngModel)]="birthdate"
      />
      <p-password
        class="password_field"
        placeholder="Password"
        [toggleMask]="true"
        [feedback]="false"
        [(ngModel)]="password"
      ></p-password>
    </div>

    @if (error) {
      <span class="error">Data is not valid!</span>
    }

    <p-button
      type="button"
      label="Sign Up"
      class="p-button-secondary login-button"
      type="submit"
      (onClick)="register()"
    ></p-button>
  </div>
</div>
