<div class="login-container">
  <div class="login-logo">

    <img src="../../assets/img/movie-icon.png" width="180px" alt='logo'>
    <span class="logo-text">Movflix</span>
  </div>
  <div class="login-forms">

    <span class="login-text">
      Sign In
    </span>
    <div class="fields">
      <input class="email_field" type="email" pInputText placeholder="Email" [(ngModel)]="email" />
      <p-password class="password_field" placeholder="Password" [toggleMask]="true" [feedback]="false"
        [(ngModel)]="password"></p-password>
    </div>

    <p-button type="button" label="Sign In" class="p-button-secondary login-button" type="submit"
      (onClick)="login()"></p-button>
  </div>
</div>
